@page
@model expr2.Pages.Items.DetailsModel

@{
    ViewData["Title"] = "物品详情";
}

<h1>物品详情</h1>

<div>
    <h4>物品信息</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.CategoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Origin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Specification)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Specification)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.ItemImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/@Model.Item.ItemImage" alt="暂无图片" width="200" onclick="openModal(this.src, this.alt)" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.ItemId">修改信息</a> |
    <a asp-page="./Index">回到列表</a>
</div>
